body {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.container {
   margin-left: 25vw;
   width: 50vw;
   height: 150vh;
   display: flex; 
   flex-direction: column;
   justify-items: center;
   align-items: center;
}

.header {
   width: 480px;
   height: 10vh; 
   font-size: 32;
   font-weight: bold;
   color: #045e85;
   text-align: center;
   padding-top: 4vh;
}

canvas {
   border-radius: 5%; 
}

.heading {
   width: 480px;
   font-size: 26;
   font-weight: bold;
   margin: 2vh 0;
   color: #ebc934;
}

.slidecontainer {
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   margin-bottom: 2vh;
}

#slideValue {
   text-align: center; 
   margin-bottom: 1vh;
}

.shape {
   text-align: center; 
   margin-bottom: 2vh;
}

label {
   font-weight: bold; 
}

button {
   background-color: white;
   border: 1px solid green;
   color: green;
   padding: 1vw;
   border-radius: 1vw;
   font-weight: bold;
}

button:hover {
   background-color: green;
   color: white;
   cursor: pointer;
}

.stop-button {
    border-color: red;
    color: red;
}

.stop-button:hover {
    background-color: red;
}

.clear-button {
    border-color: grey;
    color: grey;
}

.clear-button:hover {
    background-color: grey;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
